In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from dateutil.parser import parse
from tb import *

In [2]:
tb = TB(config_file='config_gbv.ini',device_name='CO2')

["cdm4160","cjmcu811","fatal","heartbeat","loadavg1","loadavg15","loadavg5","mh-z14a","notice","s8lp","sen0219","sen0219avg","sen0219cma","sen0220","t3022","uptime","uptime-linux"]

In [3]:
sensores = ["cdm4160","cjmcu811",
            "mh-z14a","s8lp","sen0219","sen0219cma","sen0220","t3022"]

# sensores = ["cdm4160","cjmcu811","sen0219","t3022","mh-z14a","sen0220","s8lp"]
datos = pd.concat([tb.get_df(key=sensor) for sensor in sensores],axis=1)
# print(datos.head())
datos.index = datos.index + pd.Timedelta("-5H")
datos.head()

                         cdm4160  cjmcu811  mh-z14a  s8lp  sen0219  \
ts
2021-06-21 10:29:08.677      NaN       0.0      NaN   NaN      NaN
2021-06-21 10:29:14.679      NaN     400.0      NaN   NaN      NaN
2021-06-21 10:29:20.683      NaN     400.0      NaN   NaN      NaN
2021-06-21 10:29:26.685      NaN     403.0      NaN   NaN      NaN
2021-06-21 10:29:32.688      NaN     426.0      NaN   NaN      NaN

                         sen0219cma  sen0220  t3022
ts
2021-06-21 10:29:08.677         NaN      NaN    NaN
2021-06-21 10:29:14.679         NaN      NaN    NaN
2021-06-21 10:29:20.683         NaN      NaN    NaN
2021-06-21 10:29:26.685         NaN      NaN    NaN
2021-06-21 10:29:32.688         NaN      NaN    NaN

In [4]:
#corta los datos de la fecha inicial al final
datos = datos["2021-06-30"]
datos

<ipython-input-4-dd04ecbf5c27>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  datos = datos["2021-06-30"]

,cdm4160,cjmcu811,mh-z14a,s8lp,sen0219,sen0219cma,sen0220,t3022
ts,,,,,,,,
2021-06-30 00:00:04.796,NaN,3739.0,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-30 00:00:05.872,277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-30 00:00:06.388,NaN,NaN,NaN,NaN,NaN,NaN,351.0,NaN
2021-06-30 00:00:09.678,NaN,NaN,-1.0,NaN,934.0,NaN,NaN,437.0
2021-06-30 00:00:10.827,NaN,3763.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2021-06-30 23:59:40.217,NaN,405.0,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-30 23:59:46.222,NaN,405.0,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-30 23:59:52.225,NaN,405.0,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-30 23:59:55.347,NaN,NaN,509.0,412.0,962.0,NaN,NaN,438.0
2021-06-30 23:59:58.227,NaN,405.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sensores = ["cdm4160","cjmcu811","sen0219","t3022","mh-z14a","sen0220","s8lp"]

fig, ax = plt.subplots(figsize=(10,3))

# fecha1 = parse("2021-06-22") 
# fecha2 = fecha1 + pd.Timedelta("1D")
# ax.set_xlim(fecha1,fecha2)

ax.set_ylim(300,1000)
ax.set_ylabel("CO2 [ppm]")
ax.set_xlabel("tiempo")
ax.set_title("Sensores")
ax.grid()

for sensor in sensores:
    ax.scatter(datos[sensor].index,datos[sensor],label=sensor,alpha=0.2)

ax.legend()

In [5]:
#ajustar fecha si es necesario
datos.to_csv("../data/sensores_30-06-2021_03.csv")