In [1]:
import pandas as pd

In [10]:
archivo = "../data/resultado_520ppm.csv"
r520ppm = pd.read_csv(archivo,header=[0,1],index_col=0)


archivo = "../data/resultado_625ppm.csv"
r625ppm = pd.read_csv(archivo,header=[0,1],index_col=0)


archivo = "../data/resultado_750ppm.csv"
r750ppm = pd.read_csv(archivo,header=[0,1],index_col=0)

archivo = "../data/resultado_800ppm.csv"
r800ppm = pd.read_csv(archivo,header=[0,1],index_col=0)

archivo = "../data/resultado_893ppm.csv"
r893ppm = pd.read_csv(archivo,header=[0,1],index_col=0)

In [12]:
resultados  = pd.concat([r520ppm,r625ppm,r750ppm,r800ppm,r893ppm],axis=1)
resultados

,scd30,sen0220,s8lp,cjmcu811,scd30,sen0220,s8lp,cjmcu811,scd30,sen0220,s8lp,cjmcu811,scd30,sen0220,s8lp,cjmcu811,scd30,sen0220,s8lp,cjmcu811
,515ppm,515ppm,515ppm,515ppm,633ppm,633ppm,633ppm,633ppm,755ppm,755ppm,755ppm,755ppm,800ppm,800ppm,800ppm,800ppm,888ppm,888ppm,888ppm,888ppm
Variable,,,,,,,,,,,,,,,,,,,,
TR+,0 days 00:00:08.195000,0 days 00:16:43.895000,0 days 00:26:57.822000,0 days 00:22:27.045000,0 days 00:04:38.559000,0 days 00:08:12.755000,0 days 00:09:04.475000,0 days 00:14:56.082000,0 days 00:14:24.528000,0 days 00:12:15.023000,0 days 00:02:49.811000,0 days 00:14:13.905000,0 days 00:00:08.195000,0 days 00:00:06.560000,0 days 00:06:49.432000,0 days 00:15:29.196000,0 days 00:09:27.765000,0 days 00:25:01.633000,0 days 00:32:57.611000,0 days 00:26:00.153000
M,488.5405405405405,535.7380952380952,549.7377049180328,3610.1,586.081081081081,645.047619047619,659.1487603305785,4262.24,713.536231884058,756.8928571428571,780.4297520661157,4876.59,762.4594594594595,803.6666666666666,827.8842975206611,3906.06,852.9,832.7,902.6363636363636,948.9090909090909
D_r,515.6566666666666,515.6566666666666,515.6566666666666,515.6566666666666,633.0433333333333,633.0433333333333,633.0433333333333,633.0433333333333,755.3883333333333,755.3883333333333,755.3883333333333,755.3883333333333,800.18,800.18,800.18,800.18,888.65,888.65,888.65,888.65
Error,-27.11612612612612,20.081428571428546,34.08103825136618,3094.443333333333,-46.962252252252256,12.004285714285743,26.105426997245218,3629.1966666666667,-41.852101449275324,1.5045238095237892,25.041418732782404,4121.201666666667,-37.72054054054047,3.486666666666679,27.704297520661157,3105.88,-35.75,-55.94999999999993,13.986363636363649,60.2590909090909

In [33]:
resultados["scd30"]

,515ppm,633ppm,755ppm,800ppm,888ppm
Variable,,,,,
TR+,0 days 00:00:08.195000,0 days 00:04:38.559000,0 days 00:14:24.528000,0 days 00:00:08.195000,0 days 00:09:27.765000
M,488.5405405405405,586.081081081081,713.536231884058,762.4594594594595,852.9
D_r,515.6566666666666,633.0433333333333,755.3883333333333,800.18,888.65
Error,-27.11612612612612,-46.962252252252256,-41.852101449275324,-37.72054054054047,-35.75

In [29]:
resultados.iloc[:,0:2]

                           scd30                 sen0220
                          515ppm                  515ppm
Variable
TR+       0 days 00:00:08.195000  0 days 00:16:43.895000
M              488.5405405405405       535.7380952380952
D_r            515.6566666666666       515.6566666666666
Error         -27.11612612612612      20.081428571428546